:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;

    --br: 0.3vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--back);
}

main {
    position: absolute;

    width: 60vw;
    height: 100%;

    top: 0;
    left: 50%;
    transform: translate(-50%);

    background: var(--menus);  

    padding: 0 2vw;
}

main h1 {
    text-align: center;
    color: var(--title);
    margin-top: 2vh;
    margin-bottom: 10vh;
}

@media screen and (max-width: 740px) { 
    main {
        width: 100vw;
    }
}

.clicker_menu {
    background: var(--submenus);

    padding: 1vh;

    color: var(--text-first);

    border-radius: var(--br);

    margin-bottom: 3vh;
}

.stats_string {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7vh;

    padding: 0.7vh;

    border: 0.2vh solid var(--text-first);
    border-radius: var(--br);
}

.clicker_shop, .clicker_games {
    display: flex;
    justify-content: center;

    cursor: pointer;
}

.clicker_shop a, .section_clicker_shop button, .section_clicker_game button {
    text-decoration: none;
    color: var(--text-first);
}

.clicker_shop a:hover,.clicker_games a:hover , .section_clicker_shop button:hover, .section_clicker_game button:hover, .close_button_coin button:hover {
    text-decoration: underline;
    color: var(--hover-color1);

    transition: 0.3s;
}

.section_clicker_shop, .section_clicker_game {
    position: absolute;

    left: 0; top: 0;

    background: var(--menus);

    height: 100%;
    width: 100%;

    display: none;

    padding: 0 1vw;
}

.button_section {
    display: flex;
    justify-content: center;
}

.section_clicker_shop button, .section_clicker_game button, .close_button_coin button {
    border: 0;
    border-radius: var(--br);

    margin-top: 1vh;

    background: var(--submenus);

    padding: 0.5vh;
}

.cells_section {
    margin-top: 2vh;

    display: flex;
    flex-direction: column;
}

.cells_string {
    display: flex;
    justify-content: space-around;

    margin-bottom: 4vh;
}

.cell {
    background: var(--submenus);

    width: 20vh;
    height: 20vh;

    border-radius: var(--br);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.cell img {
    width: 20vh;
}

.cell_text {
    position: absolute;

    color: black;

    text-transform: uppercase;
}

.coin_game {
    position: absolute;

    background: var(--menus);
    top: 0;
    left: 0;

    padding: 0 1vh;

    height: 100%; width: 100%;
    display: none;
}

.coin_coin {
    display: flex;
    justify-content: center;
}

.coin_coin img {
    width: 40%;
    max-height: 20%;

    user-select: none;
}

.coin_balance {
    color: var(--text-first);
}

.close_button_coin {
    margin-top: 2vh;

    display: flex;
    justify-content: center;
}

.close_button_coin button {
    color: var(--text-first);
}

.coin_coin:active {
    scale: 1.4;
    transition: 0.2s;
}