:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--back);
}